<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Libre</title>
</head>

<body class="home">
    <header>
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" title="logo de mercado Libre">
        </div>

        <div class="buscar">
            <input type="text" placeholder="Buscar" required>
        </div>

 <div class="compra">
            <h3>comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tienda Oficiales</a></li>
                <li><a href="">Verder</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu Cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis Compras</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner" style="display: none;">
        </div>
        <section>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" title=" Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% off</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook" title="Macbook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <p>Macbook Pro 2019</p>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung" title="Samsung Galaxi S10">
                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="smart">
                <p>$23.200</p>
                <p>5% off</p>
                <p>Smart Tv Samsung 43"</p>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Libre Cash,tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y siempre es
                seguro!</p>
            <h3>Envío gratis desde los $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Libre tenés envios gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>

            <h3>seguridad, de principio a fin</h3>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>

            <p>copyright © 1999-2020 MercadoLibre S.R.L</p>
        </section>
    </footer>
</body>

</html>