body{
    box-sizing: border-box;
    background-color:#EAC926;
}

.home .logo{
width: 100%;
}
.home header section h3{
    font-size: 15px;
    padding: 0;
    margin: 10px;
}
.home main section article img{
    width: 80%;
}
.home footer section p{
    text-align: center;
}
.home footer section h3{
    text-align: center;
}